# Keep these development dependencies out of the requirements.txt & environment.yml files;
# conda cannot install some of these development libs so use pip to install
# them into a conda env after conda installs everything else.


# pre-commit
pre-commit

# docs
sphinx

# tests
pytest

# static analysis and style
black
flake8

